#content-area {
  overflow: auto;
  width: 100%;
  min-height: 100vh;
}

#filter {
  background: $medgrey;
  width: 30%;
  max-width: 300px;
  float: left;
  display: inline-block;

  .filterContainer {
    padding: 20px;
    max-width: 300px;
  }

  h4 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
  }

  select {
    background: transparent;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #1b1b1b;
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }

  .filters {
    .title {
      font-size: 0.9rem;
      display: block;
      margin-bottom: 1rem;
      color: #666464;
    }

    input[type="text"] {
      display: inline-block;
      font-size: 1rem;
      padding: 0.3rem;
      width: 45%;
      margin-right: 2.5%;
      margin-bottom: 1rem;
      border-radius: 5px;
    }

    &.extras {
      label {
        display: block;
        width: 100%;
        padding: 10px 0;

        input[type="checkbox"] {
          float: left;
          margin: 1.5px 8px 0 0;
        }
      }
    }
  }
}

#listings {
  width: 70%;
  float: left;
  display: inline-block;
  padding: 15px;
  background: $lightgrey;

  .search-area {
    input[type="text"] {
      width: 70%;
      background: transparent;
      font-size: 2rem;
      border: none;
      border-bottom: 1.5px solid $darkgrey;
      margin-bottom: 20px;
      color: $textgrey;
      font-weight: 300;
    }
  }

  .sortby-area {
    margin-bottom: 20px;

    .results {
      font-size: 0.8rem;
      color: $textgrey;
      display: inline-block;
    }

    .sort-options {
      float: right;

      select {
        font-size: 0.8rem;
        font-weight: 300;
        border: 1px solid $darkgrey;
        background: transparent;
        display: inline-block;
        margin-right: 15px;
        vertical-align: top;
      }

      .view {
        display: inline-block;

        i {
          margin-right: 15px;
          font-size: 1.5rem;
        }
      }
    }
  }

  .listings-results {
    margin-bottom: 60px;

    .listing {
      background: #fff;
      -webkit-box-shadow: 0px 9px 33px -14px rgba(196,194,196,0.95);
-moz-box-shadow: 0px 9px 33px -14px rgba(196,194,196,0.95);
box-shadow: 0px 9px 33px -14px rgba(196,194,196,0.95);
      border-radius: 5px;
    }

    .listing-img {
      padding: 15px;
      color: #fff;
      position: relative;
      background: url("https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-height: 225px;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &:hover{
        .details{
          opacity: 1;
        }
        .address{
          opacity: 0;
        }
      }

      .address{
        position: absolute;
        bottom: 20px;
        opacity: 1;
        transition: all .4s ease-in-out;
        text-shadow: 1px 1px 1px rgba(10, 10, 10, 1);
      }

      .details{
        transition: all .4s ease-in-out;
        opacity: 0;
        text-align: center;
        padding: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: rgba(214,98,200,1);
        background: -moz-linear-gradient(-45deg, rgba(214,98,200,1) 0%, rgba(15,55,255,0.61) 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(214,98,200,1)), color-stop(100%, rgba(15,55,255,0.61)));
        background: -webkit-linear-gradient(-45deg, rgba(214,98,200,1) 0%, rgba(15,55,255,0.61) 100%);
        background: -o-linear-gradient(-45deg, rgba(214,98,200,1) 0%, rgba(15,55,255,0.61) 100%);
        background: -ms-linear-gradient(-45deg, rgba(214,98,200,1) 0%, rgba(15,55,255,0.61) 100%);
        background: linear-gradient(135deg, rgba(214,98,200,1) 0%, rgba(15,55,255,0.61) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d662c8', endColorstr='#0f37ff', GradientType=1 );

        .user-details-container{

        }
        .user-img{
          display: inline-block;
          img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 2px solid white;

          }
        }

        .user-details{
          display: inline-block;
          vertical-align: top;
          font-size: .9rem;
          width: 70%;

          .listing-date{
            display: block;
            color: rgba(255, 255, 255, .7);
            font-weight: 300;
          }

          .user-name{
            display: block;
            padding-bottom: 3px;
          }
        }
        .listing-details{
          margin-top: 20px;
          text-align: center;
          margin-bottom: 40px;
          i{
            margin-right: 9px;
          }
          .bedrooms{
            font-weight: 300;
          }
          .squareFootage{
            font-weight: 300;
            margin-bottom: 12px;
          }
        }
        .user-details-container{
          text-align: center;
          display: inline-block;
          width: 100%;
          margin-top: 7px;
        }
        .viewListing{
          background: $pink;
          padding: 8px;
          font-size: .9rem;
          border-radius: 5px;
          text-align: center;
          max-width: 170px;
          margin: 0 auto;
          cursor: pointer;
          transition: background .3s ease-in-out;
          &:hover{
            background: $darkpurple;
          }
        }
      }
    }

    .bottom-info{
      color: $textgrey;
      padding: 15px;
      font-weight: 300;

      .monthlyPrice{
        color: darken( $textgrey, 20% );
        display: block;
        margin-bottom: 12px;
      }
      .location{
        display: block;
        color: lighten( $textgrey, 10% );
        font-weight: 300;
      }
    }
  }
  .pagination{
    text-align: center;
    .pages{
      display: inline-block;
      background: white;
      -webkit-box-shadow: 0px 14px 43px -2px rgba(232,232,232,1);
      -moz-box-shadow: 0px 14px 43px -2px rgba(232,232,232,1);
      box-shadow: 0px 14px 43px -2px rgba(232,232,232,1);
      li{
        cursor: pointer;
        display: inline-block;
        padding: 25px 30px;
        &:hover,
        &.active{
          background: lighten($pink, 1%);
          border-radius: 50%;
          color: white;
          font-weight: 700;
        }
      }
      .pageButtons{
        &:hover{
          border-radius: 0;
          color: white;
        }
      }
    }
  }
}

.col-md-3{
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
}

.col-md-9{
  width: 75%;
  display: inline-block;
}
