@import url( "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");


header{
  background: $darkpurple;
  color: white;
  overflow: auto;
  padding: 20px 15px;
  font-family: "Montserrat";
  .logo{
    float: left;
  }
  nav{
    float: right;
    a{
      color: white;
      text-decoration: none;
      padding: 10px 20px;
      text-transform: capitalize;
      font-weight: 400;
      font-size: .9rem;
      &:hover{
        color: $pink;
      }
      &.register-btn{
        background: $pink;
        padding: 7px 25px;
        text-align: center;
        color: white;
        border-radius: 5px;
      }
    }
  }
}
